<div class="container">
  <div class="box-tasks">
    <h1><%= @task.title %></h1>
    <%= link_to 'Edit Task', edit_path %>
    <div class="box-details">
      <p><%= @task.details %></p>
    </div>
    <p>(<%= @task.completed %>)
      <% if @task.completed %>
        <%= "This task is completed" %>
      <% else %>
        <%= "This task is not completed yet" %>
      <% end %>
    </p>
    <%= link_to 'Back to list', tasks_path %>
  </div>
</div>
